<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css">

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./bower_components/firebase/firebase.js"></script>
    <script src="./bower_components/angularfire/dist/angularfire.min.js"></script>

    <script src="./demoAngularFire.js"></script>

</head>
<body ng-app="myFirebaseApp">

    <div ng-controller="myForm">
        <md-input-container>
            <label>Student Name</label>
            <input type="text" ng-model="user.stdName">
        </md-input-container>
        <md-input-container>
            <label>Student Age</label>
            <input ng-model="user.stdAge" type="Number">
        </md-input-container>
        <md-input-container>
            <label>Student Roll Number</label>
            <input ng-model="user.rNo" type="Number">
        </md-input-container>

    </div>

</body>
</html>
