<!Doctype HTML>
<html>

	<head>
		<title> Hello From Index </title>
		<style>
			h1 {
				color: red;
			}
		</style>
	</head>
	
	<body>
		
		<h1>
			This is admin's template
		</h1>
	</body>
	
</html>

